<div class="limiter">
		<div class="container-login">
			<div class="wrap-login">
				<span class="login-form-title">
					Account Login
				</span>
				<div class="login-form">


					<div class="wrap-input" data-validate="Enter password">
						<input class="input" type="password" [(ngModel)]="password" (input)="checkPasswordStrength()" name="pass" placeholder="Password">
						<span class="focus-input" data-placeholder="&#xe82a;"></span>
					</div>

          <div class="wrap-title">
            <p class="title-intro">Strength info</p>
          </div>

          <div class="wrap-section" >
            <div class="strength-section" [ngClass]="passwordStrengthClass[0]"></div>
            <div class="strength-section" [ngClass]="passwordStrengthClass[1]"></div>
            <div class="strength-section" [ngClass]="passwordStrengthClass[2]"></div>
          </div>

          

					<div class="container-login-form-btn">
						<button class="login-form-btn" (click)="onSubmit()">
							Login
						</button>
					</div>


				</div>
		</div>
	</div>


	





