* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Linearicons-Free;
    src: url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.eot);
    src: url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.eot?#iefix) format('embedded-opentype'),
        url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.woff2) format('woff2'),
}

